doctype
html(lang="es-ve")
    head
        title Tarjeta Efectivo
        //- Meta Tags
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Envia dinero a venezuela con Tarjeta Efectivo o canjea tu saldo de PayPal")
        //- Favicon
        link(rel="icon" href="assets/img/icon.svg")
        //- Icomoon
        link(rel="stylesheet" href="./icomoon/style.css")
        //- Fontawesome
        link(rel="stylesheet" href="./assets/css/all.min.css")
        //- Animation CSS
        link(rel="stylesheet" href="./assets/css/aos.css")
        //- Bootstrap
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        //- CSS
        link(rel="stylesheet" href="./assets/css/style.css")
    body
        .main
            //- Navegation
            header.navbar.navbar-sticky.navbar-expand-lg.navbar-dark.p-3
                .container.position-relative
                    a(href="#home").navbar-brand
                        img(src="assets/img/logo/logo-white.svg" alt="brand-logo" width="180").navbar-brand-regular
                        img(src="./assets/img/logo/logo.svg" alt="sticky brand-logo" width="180").navbar-brand-sticky
                    
                    button(type="button" data-toggle="navbarToggler" aria-label="Toggle navigation").navbar-toggler.d-lg-none
                        span.navbar-toggler-icon
                    
                    .navbar-inner
                        //- Mobile Menu Toggler -->
                        button.navbar-toggler.d-lg-none(type="button" data-toggle="navbarToggler" aria-label="Toggle navigation")
                            span.navbar-toggler-icon

                        nav
                            ul.navbar-nav#navbar-nav
                                
                                li.nav-item
                                    a(href="#home").nav-link.scroll Inicio
                                
                                li.nav-item
                                    a(href="#function").nav-link.scroll ¿Cómo funciona?

                                li.nav-item
                                    a(href="#features").nav-link.scroll Beneficios
                                
                                li.nav-item
                                    a(href="#review").nav-link.scroll Testimonios

                                li.nav-item
                                    a(href="#questions").nav-link.scroll Preguntas


            //- Welcome Area
            section#home.section.welcome-area.bg-overlay.overflow-hidden.d-flex.align-items-center
                .container
                    .row.align-items-center
                
                        //- Welcome Intro Start
                        .col-12.col-md-7.col-lg-5
                            .welcome-intro
                                h1.text-white.title-h1 ¡Puedes enviar dinero a Venezuela con Tarjeta Efectivo!
                                    
                                p.text-white.my-4.d-none.d-sm-block
                                    | Con Tarjeta Efectivo puedes enviar dinero a Venezuela para tus familiares y seres queridos
                                    | de forma rápida y segura, sin intermediarios desde cualquier parte del mundo. Solo necesitas
                                    | adquirirla, pagar con el método de tu preferencia y retirar el efectivo en nuestra tienda.
                                
                                p.text-white.my-4.d-block.d-sm-none
                                    | Con Tarjeta Efectivo puedes enviar dinero a Venezuela para tus familiares y seres queridos
                                    | de forma rápida y segura, sin intermediarios desde cualquier parte del mundo. Solo necesitas
                                    | adquirirla, pagar con el método de tu preferencia y retirar el efectivo en nuestra tienda.
                                
                                //- Store Buttons
                                .button-group.store-buttons.d-flex
                                    button(type="button" onclick="redirect()").btn.btn-secondary.m-1
                                        <span class="icon-paypal"></span> ¡Canjea tu PayPal!

                                    button(type="button" onclick="redirect()").btn.btn-primary.m-1
                                        <span class="icon-gift"></span> ¡Regala!
                                    
                            
                            
                        .col-12.col-md-5.col-lg-7
                            //- Welcome Thumb
                            .welcome-thumb.m-0.p-0(data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000")
                                img(src="assets/img/welcome/illustration.webp" alt="")

            //- Counter Area
            section.section.counter-area.ptb_50
                .container
                    .row.justify-content-center

                        .col-5.col-sm-3.single-counter.text-center
                            .counter-inner.p-3.p-md-0
                                //-  Counter Item
                                .counter-item.d-inline-block.mb-3
                                    span.counter.fw-7 10
                                    span.fw-7 K

                                h5 Clientes

                        .col-5.col-sm-3.single-counter.text-center
                            .counter-inner.p-3.p-md-0
                                //- Counter Item
                                .counter-item.d-inline-block.mb-3
                                    span.fw-7 +
                                    span.counter.fw-7 150
                                
                                h5 Países

                        .col-5.col-sm-3.single-counter.text-center
                            .counter-inner.p-3.p-md-0
                                //- Counter Item
                                .counter-item.d-inline-block.mb-3
                                    span.counter.fw-7 99.9
                                    span.fw-7 %
                                
                                h5 Satisfacción

                        .col-5.col-sm-3.single-counter.text-center
                            .counter-inner.p-3.p-md-0
                                //- Counter Item
                                .counter-item.d-inline-block.mb-3
                                    span.fw-7 +
                                    span.counter.fw-7 5
                                
                                h5 Métodos de pago


        //- Scripts
        script(src="assets/js/jquery/jquery.min.js")
        script(src="assets/js/plugins/plugins.min.js")
        script(src="./assets/js/active.min.js")
        script(src="./assets/js/redirect.js")
