div.buttons
    button.btn.btn-tertiary(onclick="redirect()")
        span.icon-paypal
        span.mx-2 ¡Canjea tu PayPal!

    button.btn.btn-primary.efectivo(onclick="redirect()")
        span.icon-gift
        span.mx-2 ¡Regala!