//- General
- let titlePage = 'Tarjeta Efectivo - Compralotodo'
- let language = 'es-ve'
- let metaDescription = 'Envia dinero a venezuela con Tarjeta Efectivo o canjea tu saldo de PayPal'


//- Check List in Infagrafy Area
-
    let listContent = [
        {
            title: 'Adquiere Tarjeta Efectivo',
            description: 'El cliente emisor que desee enviar dinero a Venezuela con Tarjeta Efectivo debe ingresar en www.compralotodo.com/efectivoseleccionar el monto, el destinatario y realizar el pago con el método de su preferencia (TDC, PayPal, Zelle, Bitcoin Cash). El sistema realiza un cobro del 10% por gastos administrativos.'
        },
        {
            title: 'Verifica tu Correo',
            description: 'Una vez confirmado el pago, el emisor que envía la remesa a Venezuela por medio de Tarjeta Efectivo recibirá la confirmación de la orden de compra en su correo y de manera simultanea, el beneficiario de la Tarjeta Efectivo recibirá un correo con el código de la misma para poder canjearla en nuestra tienda.'
        },
        {
            title: 'Retira el efectivo en nuestra tienda',
            description: 'El beneficiario podrá dirigirse a la tienda 24 horas luego haber recibido el código de su Tarjeta Efectivo, presentar el código de la misma y retirar los dólares correspondientes en efectivo, además tendrá la posibilidad canjearla por una gran variedad de productos en nuestra tienda.'
        }
    ]

//- Benefits Area
-
    let benfitsTitle = '¿Por qué nuestros clientes nos prefieren?'
    let benefitsDescription = 'Conoce las ventajas de usar Tarjeta Efectivo, la puedes utilizar para enviar dinero a Venezuela, retirar Paypal o hacer compras en nuestra tienda.'
    
    let benefits = [
        {

        },
        {

        },
        {
            
        }
    ]


//- Reviews Area
-
    let reviewsTitle = 'Experiencia de nuestros clientes con Tarjeta Efectivo'
    let reviewsDescription = 'Nuestros clientes hablan por nosotros, conoce las experiencias de usuarios frecuentes que han adquirido Tarjeta Efectivo para enviar remesas a Venezuela y retirar Paypal.'

    let reviews = [
        {
            name: 'Ariadne Acosta',
            text: 'Con este servicio, se me hace mucho más cómodo en tener efectivo en dólares desde mi cuenta Paypal. Fue bastante rápido. Satisfecha con el servicio.'
        },
        {
            name: 'Nersa Torres',
            text: 'Anteriormente enviaba dinero a mi familia a través de una casa de cambio, pero les llegaban Bolivares, a los días ya eso no era nada, con este producto ya es totalmente distinto. Muchas gracias'
        },
        {
            name: 'Robert Garcia',
            text: 'Es fácil y con simples pasos tus familiares pueden ir a retirarlos sin problemas!'
        },
        {
            name: 'Jhonatan Rojas',
            text: '100% confiables , antes pasaba mi paypal a Bs y perdía mucho en comisiones, ahora retiro el efectivo directamente en la tienda'
        },
        {
            name: 'Yorman Munoz',
            text: 'Excelente servicio 100% confiable'
        },
        {
            name: 'rodrigjennifer',
            text: 'excelente servicio personas responsables lo seguire usando siempre que pueda. la mejor opción si tienes una emergencia o si quieres resguardar tus ahorros.'
        }
    ]


//- ***** Questions Area Start *****
-
    let questions = {
        column1: [
            {
                title: "Se paga una comisión extra para retirar dólares en efectivo en la tienda?",
                description: "No, con Tarjeta Efectivo puedes enviar dinero a Venezuela y retirar el monto exacto por el que adquieres tarjeta efectivo. El único costo lo asume el emisor o comprador de la tarjeta, el cual es equivalente al 10% de la compra por gastos administrativos."
            },
            {
                title: "¿Qué métodos de pago aceptan?",
                description: "Aceptamos  TDC Visa y Mastercard, Tarjeta de Débito Internacional, Zelle, Paypal o Bitcoin Cash. No aceptamos pagos en Bs."
            },
            {
                title: "¿La Tarjeta Efectivo se puede canjear en otras divisas en la tienda?",
                description: "No, la tarjeta efectivo se canjea únicamente en USD en efectivo."
            },
            {
                title: "¿Debo retirar el dinero en la tienda?",
                description: "Si, para hacer efectivo su retiro, debe ir a la tienda ubicada en el Centro Comercial Millenium Mall, Los Dos Caminos, en Caracas, Venezuela."
            },
            {
                title: "¿Cuál es el monto mínimo y máximo diario para enviar dinero a Venezuela con Tarjeta Efectivo?",
                description: "El monto mínimo es de 20 USD y máximo de 500 USD por transacción."
            }
        ],
        column2: [
            {
                title: "¿Cómo manejan la tasa de conversión de Euro u otras divisas a Dólar para enviar dinero a Venezuela?",
                description: "El costo de las Tarjetas Efectivo se muestra únicamente en dólares ya que esta es la divisa de mayor circulación, sin embargo puedes procesar el pago de la misma desde cualquier parte del mundo, la conversión del tipo de cambio de Euro u otra moneda a Dólar la realiza el banco emisor."
            },
            {
                title: "¿Se puede retirar la Tarjeta Efectivo sin tener el código que Compralotodo envía al correo?",
                description: "No, debe imprimir el correo o simplemente mostrar el screenshot de la compra y el código con su cédula de identidad en mano."
            },
            {
                title: "Puede ir otra persona a retirar el efectivo que no sea el beneficiario?",
                description: "No, debe ir el beneficiario de la tarjeta para poder canjear su Tarjeta Efectivo."
            },
            {
                title: "¿Una vez comprada la Tarjeta Efectivo cuando puedo ir a la tienda a canjearla?",
                description: "Debe canjearlo 24 horas después de haber realizado su compra online."
            },
            {
                title: "¿El beneficiario puede ser el mismo comprador de la Tarjeta Efectivo?",
                description: "Si, al retirar Paypal o utilizar otro método de pago el beneficiario puede ser el mismo emisor de la Tarjeta Efectivo."
            }
        ]
    }
//- ***** Questions Area End *****
