//- General
- let titlePage = 'Tarjeta Efectivo'
- let language = 'es-ve'
- let metaDescription = 'Envia dinero a venezuela con Tarjeta Efectivo o canjea tu saldo de PayPal'


//- Check List in Infagrafy Area
-
    let listContent = [
        {
            title: 'Adquiere Tarjeta Efectivo',
            description: 'El cliente emisor que desee enviar dinero a Venezuela con Tarjeta Efectivo debe ingresar en www.compralotodo.com/efectivoseleccionar el monto, el destinatario y realizar el pago con el método de su preferencia (TDC, PayPal, Zelle, Bitcoin Cash). El sistema realiza un cobro del 10% por gastos administrativos.'
        },
        {
            title: 'Verifica tu Correo',
            description: 'Una vez confirmado el pago, el emisor que envía la remesa a Venezuela por medio de Tarjeta Efectivo recibirá la confirmación de la orden de compra en su correo y de manera simultanea, el beneficiario de la Tarjeta Efectivo recibirá un correo con el código de la misma para poder canjearla en nuestra tienda.'
        },
        {
            title: 'Retira el efectivo en Tienda',
            description: 'El beneficiario podrá dirigirse a la tienda 24 horas luego haber recibido el código de su Tarjeta Efectivo, presentar el código de la misma y retirar los dolares correspondientes en efectivo, además tendrá la posibilidad canjearla por una gran variedad de productos en nuestra tienda.'
        }
    ]

//- Benefits Area
-
    let benfitsTitle = '¿Por qué nuestros los clientes nos prefieren?'


//- Reviews Area
-
    let reviewsTitle = 'Experiencia de nuestros clientes con Tarjeta Efectivo'
    let reviewsDescription = 'Nuestros clientes hablan por nosotros, conoce las experiencias de usuarios frecuentes que han adquirido Tarjeta Efectivo para enviar remesas a Venezuela y retirar Paypal.'

    let reviews = [
        {
            name: 'Ariadne Acosta',
            text: 'Con este servicio, se me hace mucho más cómodo en tener efectivo en dolares desde mi cuenta Paypal. Fue bastante rápido. Satisfecha con el servicio.'
        },
        {
            name: 'Nersa Torres',
            text: 'Anteriormente enviaba dinero a mi familia a través de una casa de cambio, pero les llegaba Bolivares, a los días ya eso era nada, con este producto ya es totalmente distinto. Muchas gracias'
        },
        {
            name: 'Robert Garcia',
            text: 'Es facil y por simples pasos tus familiares pueden ir a retirarlos sin problemas!'
        },
        {
            name: 'Jhonatan Rojas',
            text: '100% confiables , antes pasaba mi paypal a Bs y perdía mucho en comisiones, ahora retiro el efectivo directamente en la tienda'
        },
        {
            name: 'Yorman Munoz',
            text: 'Excelente servicio 100% confiable'
        },
        {
            name: 'rodrigjennifer',
            text: 'excelente servicio personas responsables lo seguire usando siempre que pueda. la mejor opción si tienes una emergencia o si quieres resguardar tus ahorros.'
        }
    ]