section.section.counter-area.ptb_50
            .container
                .row.justify-content-center

                    +counterItem(false, 10, 'K', 'Clientes')
                    
                    +counterItem(true, 150, false, 'Países')
                    
                    +counterItem(false, 99.9, '%', 'Satisfacción')
                    
                    +counterItem(true, 5, false, 'Métodos de pago')