footer.footer-area.footer-fixed
    //- Footer Top
    div.footer-top.ptb_100
        div.container
            div.row
                
                //- ****** Section1 Start ******
                div.col-12.col-sm-6.col-lg-3
                    //- Footer Items
                    div.footer-items
                        //- Logo
                        a.navbar-brand(href="#")
                            img.logo(src="assets/img/logo/logo.svg" alt="logo compralotodo" width="180")

                        p.mt-2.mb-3 Si deseas saber más acerca de nosotros puedes visitar nuestra tienda física o ingresar a través de los siguientes enlaces para conocer todos los productos y servicios que tenemos para ti.

                        //- Social Icons
                        div.social-icons.d-flex

                            a.facebook(name="facebook" href="https://www.facebook.com/compralotodo-107205270978248" target="_blank")
                                i.fab.fa-facebook-f
                                i.fab.fa-facebook-f

                            a.instagram(href="https://www.instagram.com/compralotodo/" target="_blank")
                                i.fab.fa-instagram
                                i.fab.fa-instagram

                            a.globe(href="https://compralotodo.com" target="_blank")
                                i.fas.fa-globe
                                i.fas.fa-globe

                            a.whatsapp(href="https://wa.me/584144664206" target="_blank")
                                i.fab.fa-whatsapp
                                i.fab.fa-whatsapp

                //- ****** Section1 End ******

                //- ****** Section2 Start ******
                div.col-12.col-sm-6.col-lg-3
                    //- Footer Items
                    div.footer-items
                        //- Footer Title
                        h3.footer-title.mb-2 Tarjeta Efectivo

                        ul
                            li.py-2
                                a(href="#home") Inicio

                            li.py-2
                                a(href="#function") ¿Cómo funciona?

                            li.py-2
                                a(href="#features") Beneficios

                            li.py-2
                                a(href="#questions") Preguntas

                            li.py-2
                                a(href="#review") Testimonios
                //- ****** Section2 End ******

                div.col-12.col-sm-12.col-lg-6
                    a(href="https://compralotodo.com/efectivo")
                        img(src="./assets/img/cards.webp" alt="")
                


    //- Footer Bottom
    div.footer-bottom
        div.container
            div.row
                div.col-12
                    //- Copyright Area
                    div.copyright-area.d-flex.flex-wrap.justify-content-center.justify-content-sm-between.text-center.py-4
                        //- Copyright Left
                        div.copyright-left &copy; Compralotodo 2020 All rights reserved.
                        //- Copyright Right
                        div.copyright-right
                            a(href="https://compralotodo.com") Compralo Todo