section.section.discover-area.overflow-hidden.ptb_100#function
        .container
            .row.justify-content-between

                .col-12.col-lg-6.order-2.order-lg-1
                    //- Discover Thumb
                    .service-thumb.discover-thumb.mx-auto.pt-5.pt-lg-0
                        img(src="assets/img/infografy.webp" alt="")


                .col-12.col-lg-6.order-1.order-lg-2
                    //- Discover Text
                    .discover-text.pt-4.pt-lg-0
                        h2.pb-4.pb-sm-0.title-h1 ¿Cómo enviar dinero a Venezuela con Tarjeta Efectivo?
                        
                        p.d-none.d-sm-block.pt-3.pb-4
                            | Siguiendo estos 3 sencillos pasos puedes enviar Remesas a Venezuela para tus familiares y
                            | amigos desde cualquier parte del mundo.
                        
                        //- Check List
                        ul.check-list
                            each item in listContent
                                +checkList(item.title, item.description)