//- ***** Card Question Start ****
include ./../mixins/cardQuestion
//- ***** Card Question End ****

section.section.faq-area.style-two.ptb_100(id="questions")
    div.container

        div.row.justify-content-center
            div.col-12.col-md-10.col-lg-8
                //- Section Heading
                div.section-heading.text-center
                    h2.title-h1 Preguntas frecuentes
                    p.d-none.d-sm-block.mt-4 Consulta las preguntas o dudas que tengas al comprar Tarjeta Efectivo si deseas Enviar dinero a Venezuela o cambiar y retirar Paypal, aquí aclaramos tus dudas e inquietudes.
                    p.d-block.d-sm-none.mt-4 Consulta las preguntas o dudas que tengas al comprar Tarjeta Efectivo si deseas Enviar dinero a Venezuela o cambiar y retirar Paypal, aquí aclaramos tus dudas e inquietudes.

        div.row.justify-content-center
            div.col-12
                //- FAQ Content
                div.faq-content
                    //- sApp Accordion
                    div.accordion#sApp-accordion
                    
                        div.row.justify-content-center

                            div.col-12.col-md-6.questions

                                each question in questions.column1
                                    +cardQuestion(question.title, question.description)
                                

                            div.col-12.col-md-6.questions

                                each question in questions.column2
                                    +cardQuestion(question.title, question.description)

                        div.row.justify-content-center
                            p.text-body.text-center.pt-4.px-3.fw-5 ¿Tienes otras preguntas? 
                                <br>

                                a(href="https://wa.me/584144664206" style="text-decoration: none" target="_blank")
                                    img(src="./assets/img/logo-whatsapp.webp" width="60" alt="") 
                                    span Contáctanos

//- ***** Questions Area End *****