//- ***** Review Area Start *****
section#review.review-area.ptb_100
    div.container

        div.row.justify-content-center
            div.col-12.col-md-10.col-lg-8
                //- Section Heading 
                div.section-heading.text-center
                    span.d-inline-block.rounded-pill.shadow-sm.fw-5.px-4.py-2.mb-3
                        <i class="far fa-lightbulb text-primary mr-1"></i>
                        <span class="text-primary">Valoraciones</span> 
                        <a href="https://compralotodo.com">en compralotodo.com</a>

                    h2.title-h1= reviewsTitle
                    p.mt-4= reviewsDescription
        //- ******* Review Info End ******

        div.row
            //- ***** Reviews Card Start *****
            each review in reviews
                +reviewCard(review.name, review.text)
            //- ***** Reviews Card End *****
                
            
//- ***** Review Area End *****