//- ***** Review Area Start *****
<section id="review" class="review-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                //- Section Heading 
                <div class="section-heading text-center">
                    <span class="d-inline-block rounded-pill shadow-sm fw-5 px-4 py-2 mb-3">
                        <i class="far fa-lightbulb text-primary mr-1"></i>
                        <span class="text-primary">Valoraciones</span> 
                        <a href="https://compralotodo.com">en compralotodo.com</a>
                    </span>

                    <h2 class="title-h1">Experiencia de clientes con Tarjeta Efectivo</h2>
                    <p class="mt-4">Nuestros clientes hablan por nosotros, conoce las experiencias de usuarios frecuentes que han adquirido Tarjeta Efectivo para enviar remesas a Venezuela y retirar Paypal.</p>
                </div>
            </div>
        </div> 
        //- ******* Review Info End ******

    <div class="row">
        //- Review1 Start
        <div class="col-12 col-md-6 col-lg-4 res-margin">
            <!-- Single Review -->
            <div class="single-review card">
                <!-- Card Top -->
                <div class="card-top p-4">
                    <div class="review-icon">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <!-- Review Text -->
                    <div class="review-text mt-4">
                        <p>Con este servicio, se me hace mucho más cómodo en tener efectivo en dolares desde mi cuenta Paypal. Fue bastante rápido. Satisfecha con el servicio.</p>
                    </div>
                
                </div>
                <!-- Reviewer -->
                <div class="reviewer media bg-gray p-4">
                    <!-- Reviewer Media -->
                    <div class="reviewer-meta media-body align-self-center">
                        <h5 class="reviewer-name color-primary mb-2">Ariadne Acosta</h5>
                        <!-- <h6 class="text-secondary fw-6">Venezuela</h6> -->
                    </div>
                </div>
            </div>
        </div>    
        //- Review1 End
            
        //- ***** Review2 Start *****
        <div class="col-12 col-md-6 col-lg-4 res-margin">
            <!-- Single Review -->
            <div class="single-review card">
                <!-- Card Top -->
                <div class="card-top p-4">
                    <div class="review-icon">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <!-- Review Text -->
                    <div class="review-text mt-4">
                        <p>Anteriormente enviaba dinero a mi familia a través de una casa de cambio, pero les llegaba Bolivares, a los días ya eso era nada, con este producto ya es totalmente distinto. Muchas gracias</p>
                    </div>
                </div>
                <!-- Reviewer -->
                <div class="reviewer media bg-gray p-4">
                    <!-- Reviewer Media -->
                    <div class="reviewer-meta media-body align-self-center">
                        <h5 class="reviewer-name color-primary mb-2">Nersa Torres</h5>
                        <!-- <h6 class="text-secondary fw-6">Country</h6> -->
                    </div>
                </div>
            </div>
        </div>    
        //- ***** Review2 End *****

        //- ***** Review3 Start *****
        <div class="col-12 col-md-6 col-lg-4">
            <!-- Single Review -->
            <div class="single-review card">
                <!-- Card Top -->
                <div class="card-top p-4">
                    <div class="review-icon">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <!-- Review Text -->
                    <div class="review-text mt-4">
                        <p>Es facil y por simples pasos tus familiares pueden ir a retirarlos sin problemas!</p>
                    </div>
                </div>
                <!-- Reviewer -->
                <div class="reviewer media bg-gray p-4">
                    <!-- Reviewer Media -->
                    <div class="reviewer-meta media-body align-self-center">
                        <h5 class="reviewer-name color-primary mb-2">Robert Garcia</h5>
                        <!-- <h6 class="text-secondary fw-6">Country</h6> -->
                    </div>
                </div>
            </div>
        </div>    
        //- ***** Review3 End *****

        //- ***** Review2 Start *****
        <div class="col-12 col-md-6 col-lg-4 mt-4">
            <!-- Single Review -->
            <div class="single-review card">
                <!-- Card Top -->
                <div class="card-top p-4">
                    <div class="review-icon">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <!-- Review Text -->
                    <div class="review-text mt-4">
                        <p>100% confiables , antes pasaba mi paypal a Bs y perdía mucho en comisiones, ahora retiro el efectivo directamente en la tienda</p>
                    </div>
                </div>
                <!-- Reviewer -->
                <div class="reviewer media bg-gray p-4">
                    <!-- Reviewer Media -->
                    <div class="reviewer-meta media-body align-self-center">
                        <h5 class="reviewer-name color-primary mb-2">Jhonatan Rojas</h5>
                        <!-- <h6 class="text-secondary fw-6">Country</h6> -->
                    </div>
                </div>
            </div>
        </div>    
        //- ***** Review2 End *****

        //- ***** Review2 Start *****
        <div class="col-12 col-md-6 col-lg-4 mt-4">
            <!-- Single Review -->
            <div class="single-review card">
                <!-- Card Top -->
                <div class="card-top p-4">
                    <div class="review-icon">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <!-- Review Text -->
                    <div class="review-text mt-4">
                        <p>Excelente servicio 100% confiable</p>
                    </div>
                </div>
                <!-- Reviewer -->
                <div class="reviewer media bg-gray p-4">
                    <!-- Reviewer Media -->
                    <div class="reviewer-meta media-body align-self-center">
                        <h5 class="reviewer-name color-primary mb-2">Yorman Munoz</h5>
                        <!-- <h6 class="text-secondary fw-6">Country</h6> -->
                    </div>
                </div>
            </div>
        </div>    
        //- ***** Review2 End *****

        //- ***** Review2 Start *****
        <div class="col-12 col-md-6 col-lg-4 mt-4">
            <!-- Single Review -->
            <div class="single-review card">
                <!-- Card Top -->
                <div class="card-top p-4">
                    <div class="review-icon">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <!-- Review Text -->
                    <div class="review-text mt-4">
                        <p>excelente servicio personas responsables lo seguire usando siempre que pueda. la mejor opción si tienes una emergencia o si quieres resguardar tus ahorros.</p>
                    </div>
                </div>
                <!-- Reviewer -->
                <div class="reviewer media bg-gray p-4">
                    <!-- Reviewer Media -->
                    <div class="reviewer-meta media-body align-self-center">
                        <h5 class="reviewer-name color-primary mb-2">rodrigjennifer</h5>
                        <!-- <h6 class="text-secondary fw-6">Country</h6> -->
                    </div>
                </div>
            </div>
        </div>    
        //- Review2 End
            
        </div>
    </div>
</section>
//- ***** Review Area End *****