extends ../templates/template

block content
    //- ***** Scroll To Top Area Start *****
    div#scrollUp(title="Scroll To Top")
        i.fas.fa-arrow-up
    //- ***** Scroll To Top Area End *****

    .main
        //- ***** Navegation *****
        include ../includes/Navegation


        //- ***** Welcome Area *****
        include ../includes/Welcome

        //- Counter Area
        include ../includes/Counter
    
        //- ***** Banner Area *****
        include ../includes/Banner

        //- ***** Infografy Area *****
        include ../includes/Infografy
                            
        //- ***** Btn action 1 *****
        include ../includes/Btn1

        //- ***** Benefits Area *****
        include ../includes/Benefits

        //- ***** Btn action 2 *****
        include ../includes/Btn2

        //- ******* Review Info Start ******
        include ../includes/Review

        //- ***** Btn action 1 *****
        include ../includes/Btn1

        //- ***** Google Map *****
        include ../includes/GoogleMap

        //- ***** Questions Area Start *****
        include ../includes/Questions

        //- ***** Height Emulator Area Start *****
        <div class="height-emulator d-none d-lg-block"></div>
        //- ***** Height Emulator Area End *****

        //- ***** Footer Area Start *****
        include ../includes/Footer
        //- ***** Footer Area End *****